@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');


.propsName {
    /* font-family: 'Sen', sans-serif; */
    font-family: 'Urbanist', sans-serif;
}

.rate {
    font-family: 'Urbanist', sans-serif;
}

.ownerPrice {
    font-family: 'Urbanist', sans-serif;
}