@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');


.previewListing {
    font-family: 'Prompt', sans-serif;
}


.detailPreview {
    font-family: 'Urbanist', sans-serif;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.modal-entering {
    animation: slideUp 0.3s ease-in-out;
}