.propertyCard {
    padding-left: 20px;
  }
  
  .trending {
    font-weight: bold;
    margin-top: 4px;
    font-size: 24px;
  }
  
  .these {
    margin-bottom: 4px;
    font-size: 20px;
  }
  
  .scroll-container {
    display: flex;
    overflow-y: scroll;
    padding-bottom: 10px;
  }
  
  .stayCard {
    margin-top: 6px;
    margin-left: 4px;
    z-index: 40;
    background-color: white;
    width: 330px;
    height: 560px;
  }
  
  .stayImage {
    width: 330px;
    height: 240px;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .stayImageInner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .stayDetails {
    margin-top: 44px;
    padding-right: 50px;
    margin-right: 8px;
  }
  
  .stayTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .stayDescription {
    font-size: 14px;
    margin-right: 2px;
    color: #333;
  }
  
  .stayInfo {
    display: flex;
    justify-content: space-between;
  }
  
  .stayInfoItem {
    font-size: 12px;
    color: #666;
  }
  
  @media (min-width: 768px) {
    .propertyCard {
      padding-left: 240px;
    }
  
    .trending {
      font-size: 60px;
      margin-top: 12px;
    }
  
    .these {
      font-size: 40px;
      margin-bottom: 10px;
    }
  
    .scroll-container {
      overflow-x: auto;
    }
  
    .stayCard {
      margin-top: 0;
      margin-left: 0;
      width: auto;
      height: auto;
      flex: 0 0 300px;
      margin-right: 100px;
    }
  
    .stayImage {
      width: 100%;
      height: 300px;
    }
  
    .stayDetails {
      margin-top: 20px;
      padding-right: 20px;
      margin-right: 0;
    }
  
    .stayTitle {
      font-size: 18px;
    }
  
    .stayDescription {
      font-size: 14px;
    }
  
    .stayInfoItem {
      font-size: 14px;
    }
  }
  