@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.propsNameCard {
    font-family: 'Urbanist', sans-serif;
}

.roomNamee {
    font-family: 'Questrial', sans-serif;
}

.addressCard {
    font-family: 'Urbanist', sans-serif;
}

.detailsOrderr {
    font-family: 'Questrial', sans-serif;
}

.paymentProoff {
    font-family: 'Urbanist', sans-serif;
}

.statusdets {
    font-family: 'Questrial', sans-serif;
}