@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');


.createTitle {
    font-family: 'Alata', sans-serif;
}

.photosTitle {
    font-family: 'Baloo 2', cursive;
}

.listingName {
    font-family: 'Baloo 2', cursive;
}