<style type="text/css">
    
</style>


<body style="margin: 0;">
    <div style="height: 50px; width: 100%;background-color: rgb(85, 85, 250);">
        &nbsp;
    </div>
    <div style="text-align: center;">
        <h1 style="margin: 10px;">
            Hello {{username}}
        </h1>
    </div>
    <div style="text-align: center;">
        <p style="margin: 10px;">
            This is an automated email, please do not reply.
            If you did not make this request, ignore this email.
        </p>
    </div>
    <div style="text-align: center;margin-top: 30px;">
        The code is: {{code}}
    </div>
</body>
    
