<style type="text/css">
    
</style>


<body style="margin: 0;">
    <div style="height: 50px; width: 100%;background-color: rgb(85, 85, 250);">
        &nbsp;
    </div>
    <div style="text-align: center;">
        <h1 style="margin: 10px;">
            Hello {{username}}
        </h1>
    </div>
    <div style="text-align: center;">
        <p style="margin: 10px;">
            This is an automated email, please do not reply.
        </p>
    </div>
    <div style="text-align: center;">
        <p style="margin: 10px;">
            The link will expire in 1 hour.
        </p>
    </div>
    <div style="text-align: center; margin-top: 10px;">
        <a href="http://{{domain}}/{{path}}/{{code}}" target="_blank" style="position: relative; background-color: black; color: white; border-radius: 50px; padding: 10px 5px; cursor: pointer; text-decoration-line: none; top: 10px;">
            Click here to verify your account
        </a>
    </div>
    <div style="text-align: center;margin-top: 30px;">
        if the button does not work add copy this link to your browser instead:
    </div>
    <div style="text-align: center;">
        <a>http://{{domain}}/{{path}}/{{code}}</a>
    </div>
</body>
    
