@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&family=Roboto+Flex&display=swap');

.experience {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 42px;
}

.over {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 40px;
}

.utilize {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 40px;
}

.trending {
    font-family: 'Gayathri', sans-serif;
    font-size: 55px
}

.these {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 45px
}



.executive {
    font-family: 'Urbanist', sans-serif;
    font-size: 24px;
}

.desc1 {
    font-size: 16px;
}

.qnaCard {
    padding: 48px;
    display: flex;
    justify-content: space-between;
}

.qnaCard .text-6xl {
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 4px;
    text-align: left;
}