@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.cardGross {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1em;
    color: #2b2b2b;
}

.cardProfitMonth {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1em;
    color: #2b2b2b;
}