@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
  
  .collage {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .medium-image {
    flex: 2;
    height: 400px;
  }
  
  .medium-image img {
    width: 100%;
    height: 100%; /* Adjust the height as needed */
    object-fit: cover;
  }
  
  .small-images {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Adjust the gap as needed */
  }
  
  .small-images img {
    width: 100%;
    height: 100%; /* Adjust the height as needed */
    object-fit: cover;
  }
  
  .allPhotoButton {
    margin-top: 10px;
    font-family: 'Happy Monkey', cursive;
  }
  